
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<div class="alert-danger"><p class="bigParaVersion">About OsherBuy4You:</p></div>
<p>
    Create your own website for free -exactly the way you want.<br/>
    Our powerful technology makes it easy for everyone to get online with
    a stunning, professional and functional web presence. No creative limits, <br />
    no coding – just complete freedom to express yourself and manage your entire business online.<br />
    Our global user base, open SDK, and unparalleled design capabilities create a unique ecosystem. 
    Partners, developers, web designers, and other online professionals can effectively market their Apps and services to millions through OsherBuy4You.<br />
    Since 1993<br />
    110 Million Users<br />
    We are a proud<br />
    & happy company serving over<br />
    We provide a world class website building platform to over 110 million users in 190 countries.<br /> OsherBuy4You has something for everyone. So, whether you’re a photographer, musician, small business owner, entrepreneur, bride or student, we provide all the tools and features you need to build an amazing online presence for FREE.
    Create your own original website that reflects you or your brand and get online today. We keep complex techy processes behind the curtain and guarantee that your experience is simple, fun and code-free.
    We have the only drag and drop website building platform with HTML5 capabilities, 500+ designer-made templates, top grade hosting,<br/> innovative Apps, and 1000s of features for free. We offer valuable premium services (hey, we need to make money too), but our business model allows us to provide complete websites to everyone - for free.

</p>


